<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Welcome back</h3>
                    <p class="intro-text">Current Wind for <%= @citystate %>: <%= @speed %> mph
Bearing: <%= @bearing %> degrees</p>

                </div>
            </div>
        </div>
    </div>
</header>
